<footer>
    <footer>
        <div class="home"><a href="/">Home</a></div>
        <div class="monitors"><a href="/monitors">All Monitors</a></div>
        <div class="addMonitor"><a href="/monitors/new">Add Monitor</a></div>
    </footer>
</footer>
