<footer>
    <h2>Monitor Reviews</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/monitors">All Monitors</a></li>
            <li><a href="/monitors/new">Add New Monitor</a></li>
        </ul>
    </nav>
</footer>
