<header>
    <a href="/"><h1>Monitor Reviews</h1></a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/monitors">All Monitors</a></li>
        </ul>
    </nav>
</header>
