<header>
    <nav>
        <div class="title">
            <a href="/"><h1>Monitor Reviews</h1></a>
        </div>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <div class="dropdown">
                <a>Monitors</a>
                <div class="dropBtns">
                    <a href="/monitors">All</a>
                    <a href="/monitors?category=Gaming">Gaming</a>
                    <a href="/monitors?category=Office">Office</a>
                </div>
            </div>
        </div>
    </nav>
</header>
