<header>
    <nav>
        <div class="title"><a href="/"><h1>Monitor Reviews</h1></a></div>
        <div class="nav"><a href="/about">About</a>
            <a href="/">Home</a>
            <a href="/monitors">All Monitors</a>
        </div>
    </nav>
</header>
