<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Monitor Reviews'}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <div class="intro">
            <h1 class="aboutTitle">About</h1>
            <p>Monitor Reviews is a forum for people to search for monitors. If you're in need of a monitor and can't decide, Monitor Reviews provides monitor specifications along with reviews. </p>
            <p>If you would like to leave a review of a monitor that is not listed on this site, there is an "Add Monitor" feature at the bottom of the page.</p>
        </div>
    </main>



    <%- include('./partials/footer.ejs') %>
</body>

</html>