<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Monitor Reviews'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <div class="home">
            <a href="/monitors">
                <div class="all">All
                    <p>prioritizes high refresh rate and low response times.</p>
                </div>
            </a>
            <a href="/monitors?category=Gaming">
                <div class="gaming">Gaming
                    <p>prioritizes high refresh rate and low response times.</p>
                </div>
            </a>
            <a href="/monitors?category=Office">
                <div class="office">Office
                    <p>visuals and ergonomics are preferred.</p>
                </div>
            </a>
        </div>

    </main>




    <%- include('./partials/footer.ejs') %>
</body>

</html>