<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Monitor Reviews'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <div class="categories">
            <a href="/monitors">
                <div class="card">All
                    <p>Show all monitors.</p>
                </div>
            </a>
            <a href="/monitors?category=Gaming">
                <div class="card">Gaming
                    <p>Prioritizes high refresh rate, low response time.</p>
                </div>
            </a>
            <a href="/monitors?category=Office">
                <div class="card">Office
                    <p>Prioritizes visuals and ergonomics.</p>
                </div>
            </a>
        </div>

    </main>




    <%- include('./partials/footer.ejs') %>
</body>

</html>