<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Reviews | Monitor Reviews'}) %>
    <link rel="stylesheet" href="/styles/review-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>





    <%- include('./partials/footer.ejs') %>
</body>

</html>