.categories {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

div.home{
    color: red;
}

.all, .gaming, .office {
    display: flex;
    flex-direction: column;
    height: 400px;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    border: 2px solid gray;
}
