main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.card {
    display: flex;
    flex-direction: column;
    height: 400px;
    flex-wrap: wrap;
    width: 250px;
    text-align: center;
    background: linear-gradient(#696a6b,#232f3c);
    border-radius: 10%;
}
