* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Prompt', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(../assets/hexagon_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

nav, .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    border-bottom: 2px solid gray;
}

h1 {
    font-size: 65px;
    margin: auto;
}

div.nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

nav {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 1rem;
    border-top: 2px solid gray;
}

div {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: large;
}

select, input, textarea, option, .btn, input[type='button'], input[type='submit'] {
    color: black;
    width: 40%;
    padding: 5px;
    display: flex;
    border: 2px solid gray;
}

.btn, input[type='button'], input[type='submit'] {
    appearance: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    width: 70px;
    min-width: fit-content;
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(#696a6b,#232f3c);
    border: none;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
}

@media (max-width: 848px) {
    .categories, div.nav {
      display: flex;
      flex-direction: column;
    }
}

.dropdown {
    display: inline-block;
    border-bottom: 0;
}

.dropBtns {
    display: none;
    min-width: 100px;
    position: absolute;
    z-index: 1;
    margin: 0;
}

.dropBtns a {
    display: block;
    text-align: left;
}

.dropdown:hover .dropBtns {
    display: block;
}

.nav a:hover, footer a:hover {
    background: linear-gradient(#696a6b,#232f3c);
}

.nav a {
    width: 80px;
    border-radius: 5px;
}

footer a {
    border-radius: 5px;
}

.siteName:hover {
    scale: 1.05;
}