* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Prompt', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(../assets/hexagon_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    border-bottom: 2px solid gray;
}

h1 {
    font-size: 65px;
    margin: auto;
}

div.nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

footer {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 1rem;
    border-top: 2px solid gray;
}

div {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: large;
}

select, input, textarea, option, .editBtn, .reviewBtn {
    color: black;
}
