img {
    width: 400px;
    height: 300px;
    min-width: 200px;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 54px;
}

.monitor {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". name name ."
      ". photo details ."
      ". reviews reviews ."
      ". . . .";

  }
  
.photo {
    grid-area: photo;
    display: flex;
    justify-content: center;

}
  
.details {
    grid-area: details;
}

.reviews {
    margin-top: 0;
    grid-area: reviews;
    text-align: left;
    justify-content: left;
}

.reviews ul {
    list-style: none;
    width: 100%;
}

.reviews li {
    border: 2px solid gray;
    margin: 5px;
}

.monitorName {
    grid-area: name;
}
  

