.reviewIndex {
    display: flex;
    flex-grow: 1;
}

section {
    margin: 30px;
    align-items: left;
    text-align: center;
    justify-content: center;
    width: 400px;
}

.left {
    border-right: 2px solid gray;
}