<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Edit a Monitor'}) %>
    <link rel="stylesheet" href="/styles/monitor-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>





    <%- include('../partials/footer.ejs') %>
</body>

</html>